<div class="container">

    <div class="container-fluid bg-3 text-center">    
        <br><br><br>
        <div class="row">
            <% @products.each do |p| %>
                <div class="col-sm-3">
                    <a href="oneitem/<%= p.id %>"> <img src="<%= p.image %>"  class="img-responsive"  style="width:100%" alt="Image"></a>
                    <a href ="oneitem/<%=p.id %>" ><h3>$ <%= p.price %></h3></a>
                    <br>

                </div>
            <% end %>
        </div>
    </div>
    </div><br>
</div>


<% if @products.blank? %>
  <h4>There are no products containing the term <%= params[:search] %>.</h4>
<% end %>



