<!DOCTYPE html>
<html>
  <head>
    <title>Dress Up</title>
    <%= favicon_link_tag asset_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHMQlwAPw7Kl8dZmy4gPEFkXtUcLLIk8c0Unynd6zefEGcPZgH'), :rel => 'icon', :type =>  'image/png' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">Dress Up</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
          <li ><%= link_to "Female", products_female_path %></li>
            <li ><%= link_to "Male", products_male_path %></li>
            <li><%= link_to "Kids", products_kids_path %></li>
            
            
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-form navbar-right">

            <div class="navbar-form navbar-left">
              <div class="input-group">
                <%= form_tag(products_path, :method => "get", id: "search-form") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control" %>
                  <div class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-default") do %>
                      <i class="glyphicon glyphicon-search"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
           
          </ul>
        </div>
      </div>
    </nav>
 
    <div class="container">
      <%= yield %>
    </div>
    
    <%= render "layouts/footer" unless @skip_footer %>
    

  </body>
</html>
